@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}
h1 {
  color: white;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Bruno Ace', cursive;
  letter-spacing: 5px;
}
h2 {
  color: white;
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

p,
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: bold;
}

#inicio {
  background-color: #455946;
  gap: 4rem;
}
.a1 {
  background-color: #718f54;
}
.a2 {
  background-color: #b5922baf;
}
.a3 {
  background-color: #ffe495;
}
